# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Environment
.env
venv/
.env.*

# FAISS index
vectorstore/
*.faiss

# Streamlit cache
.streamlit/

# Jupyter
.ipynb_checkpoints/

# Logs and misc
*.log
*.DS_Store